.wrap {
  text-align: center;
  margin-bottom: 48px;
}
.tal {
  text-align: left;
}
.pill {
  color: #fff;
  background-color: #22c55e;
  text-align: center;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 50px;
  display: inline-block;
}

.title {
  font-size: 36px;
  margin-bottom: 16px;
}
.subtitle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
}
